.book{
    width: min(90%, 800px);
    background: linear-gradient(135deg,rgb(165, 142, 9), gold, rgb(255, 240, 156), gold, rgb(165, 142, 9));
    border: 5px solid black;
    margin: 20px auto;
    padding: 40px 20px;
    border-radius: 30px;
}
.book-title{
    text-align: center;
    margin: 0 auto 10px;
}
.book-title hr{
    border: 0;
    background-color: black;
    border-radius: 50px;
    height: 4px;
    width: min(500px,100%);
    margin: 10px auto 25px;
}
label{
    font-weight: bolder;
    display: block;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 10px;
}
input[type='text'], input[type='email'], input[type='tel']{
    display: block;
    margin: 5px auto;
    width: 95%;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
}
input[type='number']{
    width: 70px;
    margin-left: 5px;
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
}
.price{
    font-size: 18px;
    display: inline-block;
    margin-left: 30px;
}
textarea{
    margin-left: 15px;
    background-color: transparent;
    border: 3px solid black;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}
.option{
    display: inline-block;
    font-weight: lighter;
}
input[type= "checkbox" ]{
    width: 20px;
    height: 20px;
    background-color: darkgoldenrod;
    outline: 2px solid black;
    margin-left: 15px;
}
.confirm{
    margin-top: 20px;
    margin-left: -10px;
    display: flex;
    gap: 10px;
}
.cost{
    display: block;
    margin: 10px 0;
}
button[type="submit"]{
    cursor: pointer;
    display: block;
    margin: 20px auto 0px;
    font-size: 25px;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px 30px;
}
.math{
    display: inline-block;
    font-size: 30px;
    width: 40px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid black;
    margin: 0 5px;
    padding: 5px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}